{% extends "layout.html" %}

{% block content %}
  <h2>Report an Issue</h2>
  <form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>{{ form.title.label }}<br>{{ form.title() }}</p>
    <p>{{ form.description.label }}<br>{{ form.description() }}</p>
    <p>{{ form.location.label }}<br>{{ form.location() }}</p>
    <p>{{ form.category.label }}<br>{{ form.category() }}</p>
    <p>{{ form.image_file.label }}<br>{{ form.image_file() }}</p>
    <p>{{ form.submit() }}</p>
  </form>
{% endblock %}